{% extends 'apps/include_base/base.html' %}
{% load static %}
{% load mathfilters %}
{% load thumbnail %}
{% load humanize %}

{% block body %}
<div class="container" data-layout="container">
    <script>
        var isFluid = JSON.parse(localStorage.getItem('isFluid'));
        if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
        }
    </script>

    <div class="content">

        <div class="card mb-3">
            <div class="card-body">
                <div class="container">
                    <div class="d-flex justify-content-center">
                        <canvas class="w-50 h-50 m-0" id="order-chart"
                                style="display: block; box-sizing: border-box; height: 415px; width: 415px;" width="415"
                                height="415"></canvas>
                    </div>
                    <div class="d-flex justify-content-center">
                        <canvas class="w-50 h-50 m-0" id="regions-chart"
                                style="display: block; box-sizing: border-box; height: 415px; width: 415px;" width="415"
                                height="415"></canvas>
                    </div>
                    <div class="d-flex justify-content-center">
                        <canvas class="w-50 h-50 m-0" id="products-chart"
                                style="display: block; box-sizing: border-box; height: 415px; width: 415px;" width="415"
                                height="415"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="row g-0 justify-content-between fs--1 mt-2 mb-4">
                <div class="col-12 col-sm-auto text-center">
                    <!-- <p class="mb-0 text-600"><a href="https://sayt.uz"style="color: #d9a491; font-size: 15px;">Разработка сайтов Sayt.uz</a>  <span class="d-none d-sm-inline-block">| </span> 2022 &copy; </p> -->
                </div>

            </div>
        </footer>


    </div>
</div>
{% endblock %}