{% extends 'apps/include_base/base.html' %}
{% load thumbnail %}

{% block body %}
    <div class="card mb-3">
        <div class="card-body">
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Oqim yaratish</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{% url 'stream-form' %}" class="form-class">
                                {% csrf_token %}
                                
                                <input name="product" type="hidden" id="hidden_product" value="test">
                                <input name="owner" type="hidden" id="hidden_product" value="{{ request.user.pk }}">

                                Oqim nomi <input type="text" name="name" class="form-control" placeholder="Nomi"
                                                 mt-2="Oqim uchun nom kiriting" required="" id="id_title">

                                Chegirma <input type="text" name="discount" class="form-control" placeholder="Chegirma"
                                                mt-2="Chegirma miqdori: {{ product.benefit }} so'mgacha"
                                                >

                                <input type="submit" class="btn btn-primary mt-4" value="Oqim yaratish">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <br>
                <br>
                <h3 class="text-center"> Hozirda sotuvda bor <br> mahsulotlar </h3>
                <br>

                <div class="container border-bottom-4">
                    <div class="header_tab_menu">
                        <div class="card-body bg-white px   -1 py-0">
                            <div class="row g-0 text-center fs--1">
                                <div class="header_menu active mt-4 mb-4" style="overflow: auto">

                                    <a href="{% url 'market' %}"
                                       class="btn btn-default {% if not request.GET.category %} active {% endif %}">
                                        Barchasi
                                    </a>
                                    {% for category in categories %}
                                        <a href="{% url 'market' %}?category={{ category.slug }}"
                                           class="btn btn-default {% if request.GET.category and request.GET.category == category.slug %} active {% endif %}">
                                            {{ category.name }}
                                        </a>

                                    {% endfor %}
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-4 p-2">
                            <div class="card">
                                {% thumbnail product.images.first.image "366x200" format="PNG" as im %}
                                    <a class="d-block"
                                       href="{% url 'product_detail' product.slug %}"><img
                                            class="img-fluid rounded-top" src="{{ im.url }}"
                                            alt=""/></a>
                                {% endthumbnail %}
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{% url 'product_detail' product.slug %}" target="_blank">
                                            {{ product.name }}
                                        </a>
                                    </h5>
                                    <p class="text-muted"> {{ product.price }} so'm </p>
                                </div>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">To'lov: <strong>{{ product.for_stream_price }} </strong>
                                    </li>

                                    <li class="list-group-item">Zaxirada: <strong> {{ product.quantity }} ta </strong>
                                    </li>

                                </ul>


                                <a href="https://t.me/c/2228945414/3"
                                   class="btn bg-danger text-white mt-2 mb-2">Reklama
                                    Posti</a>
                                <button class="btn btn-primary btn_open_modal" type="button" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" name="{{ product.id }}">
                                    Oqim yaratish
                                </button>
                                <a href="{% url 'in_detail' product.slug %}" class="btn bg-danger text-white mt-2">Batafsil</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}